* {
    box-sizing: border-box;
    
}

html {
    height: 100%;
    

}

body {
    
}

.top {
    width: 100%;
    background-image: url("Images/lakeoftheclouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom {
    width: 100%;
    background-image: url("Images/orange-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    height: 50vh;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
}

input, button {
    border-radius: 3px;
}

.home-img {
    width: 70%;
}

p {
    text-align: center;
}

.home {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.js-hi-lo {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 25px;
}

.js-gear-items {
    columns: 2;

}



.js-gear-items {
    list-style: none;
}