* {
    font-family: 'Lilita One', cursive;
}
body {
    background-image: url("Images/orange-bg.png");
    margin: 0;
    padding: 0;
    position: relative;
    
}
body:before {
    display: block;
    content: '';
    background-image: url("Images/lakeoftheclouds.jpg");
    background-size: cover;
    height: 50vh;
}
main {
    background: #05A5F2;
    width: 70%;
    min-height: 50vh;
    margin: -25vh auto 25vh auto;
    overflow: hidden;
    color: black;
}
header {
    padding: 1rem;
}
header h1 {
    text-align: center;
}
#home {
    padding: 1rem;
    text-align: center;
}
button.start {
    display: block;
    margin: 0 auto;
    border: 0;
    background: transparent;
}
button.start img {
    height: 25px;
    width: 25px;
}
.hidden {
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto auto;
}
section#results {
    margin: 10px 10px;
}
button.js-submit, button.js-clear {
    width: 30%;
    align-self: center;
}
ul.js-hi-lo {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
}
.js-hi-lo > li {
    border: 1px solid black;
}
.js-gear-items {
    columns: 2;
    list-style: none;
}
